body {
  background-color: green;
}

body h1 {
  color: #fff;
}

body h1:hover {
  transition: color 1s ease;
}

h2 {
  color: red;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

h2:hover {
  transition: color 2s ease;
}

h3:hover {
  transition: color 2s ease;
}
